board/raspberrypi4_vpn/local_skeleton_raspberrypi4_vpn/etc/ipsec.secrets
board/raspberrypi4_vpn/local_skeleton_raspberrypi4_vpn/etc/shadow
board/raspberrypi4_vpn/local_skeleton_raspberrypi4_vpn/etc/vpn_certs
